body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.background-image {
    grid-column: 1;
    grid-row: 1;
    background: url('blueIMG.jpg') center/cover no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content-box {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column,
.right-column {
    flex: 1;
}

.right-column {
    margin-left: 20px;
    position: relative;
}

.saved-answer-container {
    margin-top: 2px;
    border-style: dashed;/* Dashed line border*/
    /*border-top: 10px ; /* Dashed line border for the top of the saved-answer-container */
    border-color: #000;
    padding: 6px; /* Add padding to maintain space between the dashed line and content */
}

.left-column input {
    margin-bottom: 10px;
}
/* Add more styling as needed */
